{% extends 'base.html' %}
{% block body_class %}period-page{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-8">
        <h1>{{ period.name }}</h1>
        {% if period.image %}
          <img src="{{ period.image.url }}" alt="{{ period.name }}" class="img-fluid mb-3" />
        {% endif %}
        {% if period.description %}
          <div class="period-description">
            {{ period.description|linebreaks }}
          </div>
        {% else %}
          <p><em>No description available for this period yet.</em></p>
        {% endif %}
    </div>
    <!-- quick links removed -->
  </div>
{% endblock %}
